html, body, #root {
  height: 100%; /* 确保整个页面的高度为 100% */
  margin: 0;
  padding: 0;
  text-align: left;
}
.ag-header-cell {
  font-size: 14px; /* 设置字体大小 */
  font-weight: bold; /* 设置字体粗细 */
  color: #333; /* 设置字体颜色 */
}
.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.ag-theme-material {
  flex-grow: 1; /* 让 AG Grid 占据剩余空间 */
}
